/* app general de nav */

/* 
Paletas de colores
#54E9F4
#6E569F
#F7A724
#9FCB40 */

.container-register {
    background: url("../../../public/imagenes/background-register.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
}

.register-welcome{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.welcome{
    font-size: 20px;
    margin-left: 10%;
  }
  
.text-h3{
    font-size: 20px;
    width: 120px;
}
  
.logo-register{
    width: 100px;
    height: 100px;
}

.title{
    margin-left: 10%;
}

.register{
    margin-left: 350px;
    margin-right: 10%;
}

.box-registre{
    width: 60%;
    height: 85vh;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 40px;
}

.f-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 6%;
}

.f-right{
    margin-right: 10%;
}

.card-space{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
}

.card-foot{
    display: flex;
    flex-direction: column;
    margin: 15px 10%;
}

.user-info{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    }

.btn-link{
    width: 80%;
    margin: auto;
    background-color: #7660A5;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    margin-top: 25px;
    
}

.btn-link:hover{
    background-color: #3b2569;
    color: #fff;
}
    
.btnE{
    border: none;
    background: transparent;
    color: #fff;
}

.card-space btn-link{
    margin-top: 10px;
}