.container-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-container{
    width: 100%;
    margin-top: 1rem;
    padding: 10px ;
    text-align: center;
}

.title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nunito';
    color: #6e569f;
    margin-bottom: 0 !important;
}

.buscador{
    margin-top: 1rem;
    width: 50%;
}

#nombreMascota{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #6e569f;
    border-radius: 10px;
}

#nombreMascota::placeholder{
    color: #6e569f;
}

#nombreMascota:focus{
    outline: none;
    border: 2px solid #6e569f;
    box-shadow: 0px 0px 10px #6e569f;
}

.container-adopciones{
    width: 80%;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.animal{
    background-color: #f1eaff;
    border-radius: 20px;
    width: 200px;
    margin: 30px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #000;
    box-shadow: 0px 0px 10px #cccccc;
}

.animal:hover{
    box-shadow: 0px 0px 10px #6e569f;
    background-color: #6e569f;
    color: #fff;
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}
.animal .btn {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.animal:hover .btn{
    color: #fff;
}
h5{
    margin-top: 0.5rem !important;
}

.texto{
    margin-bottom: 0.5rem !important;
}
.textosin{
    margin-bottom: 0px !important;
}
button{
    border: none;
    background-color: transparent;
}

.img-adoption{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* todo historial */
.container-table{
    width: 70%;
    border: 2px solid #6e569f;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.tablehistorial{
    width: 100%;
}
thead{

    background-color: #6e569f;
    color: #fff;
}
tr{
    text-align: center;
}

tbody tr{
    width: 100%;
    height: 100px;
}

.img-historial{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

th{
    padding: 15px;
}

td{
    padding: 15px;
}

.rounded-container {
    border-radius: 10px; /* Ajusta este valor según tus preferencias */
    overflow: hidden;
  }