.container-formulario {
    background-image: url('../../css/moduloAdopcionesDonaciones/imageFront/Modulo-donaciones.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
p{
    margin-bottom: 0px !important;
}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 10px ;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nunito';
    color: #6e569f;
    margin-bottom: 0 !important;
}
select{
    background-color: #FFf !important;
}
.title-form{
    margin: 1rem;
text-align: center;
}
#nombreAdopcion{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #6e569f;
    border-radius: 10px;
}

#nombreAdopcion::placeholder{
    color: #6e569f;
}

#nombreAdopcion:focus{
    outline: none;
    border: 2px solid #6e569f;
    box-shadow: 0px 0px 10px #6e569f;
}

.content{

    position: relative;
    margin: 2rem 0px !important;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;
}

.form{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #fff;
    border: 2px solid #6e569f;
    border-radius: 10px;
}
.form-group{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
#tipos ,#destino{
    border: 2px solid #6e569f;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-finally{
    border: none;
    background-color: #6e569f;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-finally:hover{
    background-color: #493c6f; /* Cambiar el color al pasar el ratón */
    color: #fff;
}

input{
    margin-top: 1rem;
    border: none;
    padding: 10px;
    border: 2px solid #6e569f;
    border-radius: 10px;
    outline: none;
}

.donaciones{
    background-color: #fff;
    border: 2px solid #6e569f;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 0.6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Todo donaciones */

.contenedor-donacion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid #6e569f;
    padding: 20px;
}

.img-donations{
    border-radius: 10px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

p.texto-bold{
    font-weight: bold !important;
}

.response{
    margin-left: 1rem;
}

.link-hover{
    background-color: #6e569f;
    padding: 10px;
    border-radius: 10px;
    color: #FfFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.link-hover:hover{
    background-color: #493c6f;
    color: #fff;
}