body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #ffffff;
}

.rating {
    display: flex;
    justify-content: space-between;

}

.card-text {
    text-align: center;
}

.star {
    font-size: 32px;
    color: #dad0d0;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: gold;
}