.rating {
    display: flex;
    justify-content: space-between;

}

.card-text {
    text-align: center;
}

.star {
    font-size: 32px;
    color: #dad0d0;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: #00ffff;
}

.btnE{
    border: none;
    background-color: transparent;
}