@font-face {
    font-family: 'League Spartan';
    src: url('/font/LeagueSpartan-VariableFont_wght.ttf');
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
}

.contenedor {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url('ImagenRegister.png');
    background-size: cover;
    /* Add this property */
    background-position: center;
    /* Add this property */
    background-color: #54e9f437;
}

.title-page{
    font-weight: bold;
    font-family: 'Nunito';
}

.texto{
    font-weight: 400;
    font-family: 'Nunito';
}

.cards {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 435px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-img2:hover {
    -webkit-box-shadow: 0px 0px 49px -1px rgba(33,235,26,1);
    -moz-box-shadow: 0px 0px 49px -1px rgba(33,235,26,1);
    box-shadow: 0px 0px 49px -1px rgba(33,235,26,1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.card-img2 > a > div {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.card-img2:hover > a > div {
    color: #c4c4c4;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.pservicio {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}


.pservicio {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -60;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 20px;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    transition: opacity 0.5s ease-in-out;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
    font-weight: 400;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}