*{
    padding: 0px;
    margin: 0px;
}

.containerMainNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url('../imageFront/friends.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-service {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-back{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.view{
    width: 100%;
}

.results{
    display: none;
}
.container-card {
    max-width: 100%; /* Limita el ancho máximo a 100% del contenedor padre */
    max-height: 100%; /* Limita la altura máxima a 100% del contenedor padre */
    /* Resto de estilos */
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre las tarjetas */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    background-color: #F0FFFF;
    width: 200px; /* Asegura que el contenedor tenga un tamaño específico */
    margin: 30px;
    padding: 25px;
    transition: all 0.5s;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #cccccc;
}

.cards:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0px 0px 20px #54E9F4;
}
.img-container {
    width: 100%;
    height: 60%;
    margin-bottom: .5rem;
}
p{
    margin-bottom: .5rem !important;
}
img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.title{
    margin-top: 0.5rem;
    margin-bottom: 0px !important;
}
.info-container{
    color: #000;
    /* color: #5BBBDD; */
}

/* TODO ESTRELLAS */
.btnE{
    border: none;
    background-color: transparent;
}

.star{
    color: #F7AC35;
}

.star-o{
    color: #cccccc;
}
/*TODO BUSCADOR  */
.container-aside{
    position: relative;
    background-color: #F0FFFF;
    width: 20%;
    height: 500px;
    margin-top: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px #cccccc;
}
.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    border: 0.5rem 0;
}

.icon{
    height: 50px;
    width: 50px;
}

.search{
    margin-bottom: 0.75rem;
}


#buscador-input{
    position: relative;
    width: 100%;
    height: 50px;
    text-indent: 25px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    border: 2px solid #45d1e3;
}

#buscador-input:focus{
    outline: none;
    box-shadow: none;
    box-shadow: 0px 0px 10px #45d1e3;
}
.flex{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.flex:hover > *{
    background-color: #45d1e3;
    color: #fff;
}
.container-search{
    display: flex;
    width: 100%;
    margin: .5rem 0px;
    padding: 5px;
    transition: all .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.img-search{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.container-search-text{
    margin-left: 0.5rem;
}
.bold{
    font-weight: bold;
}
.texto-search{
    margin-bottom: 0px !important;
}