.contenedor-product {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-product{
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
}
.product-card {
    height: 354px;
    width: 234px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 120px;
    background: #fff;
    margin: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
