
/* Background */
.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* Add this property */

    background-image: url("C:/laragon/www/Paws-Friends/project/resources/views/moduloCatalogo/img/fondo.png");
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;
}

/* Bienvenida al Modulo */
.title-page {
    position: relative;
    bottom: 60px;
    font-weight: bold;
    font-family: 'Itim';
    font-size: 60px;
    padding-left: 20px;
    padding-right: 50px;
    margin: 0;
}


/*todo  primera vista bienvenida */
.welcome {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 0px;
    
}
/* Camaleon */
.img{
    width: 150%;
    height: 100%;
    object-fit: cover ;
    border-radius: 20px;
}

.main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 0.45;
    border-radius: 25px;
    margin-top: 8rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
 /* Titulo de Productos */
.title-prod{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 60px;
    font-family: 'Itim';
    font-weight: bold;
}
/* Parrafo de Bienvenida */
.text-welcome{
    padding-left: 40px;
    padding-right: 200px;
    position: relative;
    bottom: 40px;
    font-size: 30px;
    text-align: justify;
    font-family: 'League Spartan';
}


/* Cartas de Presentación */
.product-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Productos Destacados Cuadros */
.product-card {
    height: 354px;
    width: 234px;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product-card:hover {
    -webkit-box-shadow: 0px 0px 35px 3px rgb(24, 24, 24);
    -moz-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.804);
    box-shadow: 0px 0px 35px 3px #000000af;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* Descripción de Productos */
.name-product{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}
.price-product{
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.img-product{
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 20px;
}
/* Tamaño de Imagenes */
img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 20px;
}

/* Categorias */
.title-cat{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 60px;
    font-family: 'Itim';
    font-weight: bold;
}
.mascotas{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Nombre Categorias */
t{
    color: black;
    text-decoration: none;
    justify-content: center;
    font-size: 20;
    font-weight: 600;
}

.checkbox{
    border-radius: 20px;        
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 120px;
    background: #fff;
    margin: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.checkbox:hover {
    -webkit-box-shadow: 0px 0px 35px 3px rgb(24, 24, 24);
    -moz-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.804);
    box-shadow: 0px 0px 35px 3px #000000af;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
/* .promo{
    color: yellow;
    background-color: red;
    padding: 1px;
    border-radius: 100%;
    bottom: 180px;
    position: absolute;

} */