.title-page {
    position: 70px;
    bottom: 70px;
    font-weight: bold;
    font-family: 'Itim';
    font-size: 40px;
    padding-left: 0px;
    padding-right: 100px;
    margin: 20;
}
.welcome {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 50px;
    background-image: url("C:/laragon/www/Paws-Friends/project/resources/views/moduloCatalogo/img/fondo.png");
    background-size: cover;
    background-position: center;    
    
}
.text-welcome{
    padding-left: 20px;
    padding-right: 300px;
    position: relative;
    font-size: 25px;
    font-weight: 200;
    text-align: justify;
    font-family: 'League Spartan';
}
.caracteristics{
    padding-left: 20px;
}
.title-shop{
    position: absolute;
    font-size: 28;
    padding-top: 70;
    padding-right: 0;
}
.title-ubi{
    position: absolute;
    font-size: 28;
    padding-top: 20;
    padding-right: 0;
}
.title-shop{
    position: absolute;
    font-size: 28;
    padding-top: 70;
    padding-right: 0;
}
.shop{
    position: absolute;
    font-size: 20;
    padding-top: 110;
    padding-right: 0;
}
.ubication{
    position: absolute;
    font-size: 20;
    padding-top: 80;
    padding-right: 0;
}
.title-phone{
    position: absolute;
    font-size: 28;
    padding-top: 20;
    padding-right: 0;
}
.number{
    position: absolute;
    font-size: 20;
    padding-top: 60;
    padding-right: 0;
}
/* Producto1 */
.img{
    position: absolute;
    z-index: 2;
}
/* Cosomorado */
.img2{
    position: relative;
    margin-top: 350px;
    z-index: 1;
}    
.img3{
    padding-bottom: 10;
}
.contenedor {
    display: flex;
    padding-left: 20px;
  }
  
  .rectangulo {
    width: 150px; 
    height: 50px; 
    margin-right: 10px; 
    background-color: white;
    color: black;
    text-align: center; 
    line-height: 50px; 
    font-size: 18px; 
    font-weight: 500;
    border-style:groove;
    border-color: #6D569E;
    border-radius: 0%;
  }
  .rectangulo2 {
    width: 470px; 
    height: 50px; 
    margin-right: 10px; 
    background-color: white;
    color: black;
    text-align: left; 
    padding-left: 10;
    line-height: 50px; 
    font-size: 18px; 
    font-weight: 500;
    border-style:groove;
    border-color: #6D569E;
    border-radius: 0%;
    
  } 
  .rectangulo3 {
    width: 200px; 
    height: 50px; 
    margin-right: 10px; 
    background-color: white;
    color: black;
    text-align: left; 
    padding-left: 10;
    line-height: 50px; 
    font-size: 18px; 
    font-weight: 500;
    border-style:groove;
    border-color: #6D569E;
    border-radius: 0%;
  }
  .rectangulo4{
    width: 200px; 
    height: 50px; 
    margin-right: 10px; 
    background-color: white;
    color: black;
    text-align: left; 
    padding-left: 10;
    line-height: 50px; 
    font-size: 18px; 
    font-weight: 500;
    border-style:groove;
    border-color: #6D569E;
    border-radius: 0%;
  }