body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-header {
    display: flexbox;
}

/* Estilos para el encabezado */
header {
    background-color: #ffffff;
    color: #6e569f;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #6e569f;
    text-decoration: none;
}

button {
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    padding: 10px 20px;
    background-color: #6e569f;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* Estilos específicos para la sección de botn de busca */

h1 {
    /*font-family: "More Sugar", More sugar;*/
    margin: 20px;
    color: #6e569f;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

h2 {
    margin: 20px;
    color: #6e569f;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

@media print {
    .table,
    .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

main.table {
    flex: 1;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    overflow: auto;
}

.table__header {
    background-color: #fff4;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.4rem #0d0c0f53;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background-color:#6e569f24;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.table__header .input-group:hover {
    width: 50%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #6e569f;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    border: 1px solid #6e569f;
    width: 90%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: 1.2rem auto;
    border-radius: 20px;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.267);
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #6e569f;
    color: #fff;
    text-transform: capitalize;
}

/* Ocultar las flechas de ordenación en todos los encabezados excepto en la columna de motivo */
thead th:not(:nth-child(9)) span.icon-arrow {
    display: none;
}

/* Mostrar la flecha de ordenación solo en la columna de motivo */
thead th:nth-child(9) span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #0d0c0f;
}

thead th:hover {
    color: #0d0c0f;
}

thead th.active span.icon-arrow {
    background-color: #0d0c0f;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(../img/export.png) center/80% no-repeat;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transform-origin: top right;
    box-shadow: 0 0.2rem 0.5rem #0004;
    transition: 0.2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img {
    width: 2rem;
    height: auto;
}

/* Estilos para el select */
select {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    background-color: #ccc;
    color: black;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 32px;
    transition: all 0.3s ease;
}

/* Estilos para el select cuando está enfocado */
select:focus {
    outline: none;
    border-color: #6c00bd;
    box-shadow: 0 0 0 2px rgba(108, 0, 189, 0.2);
}

select option {
    padding: 8px;
}

select option:checked {
    background-color: transparent;
}

/* Estilos para las opciones específicas del select */
select option[value="en_espera"] {
    background-color: #d893a3;
}

select option[value="en_proceso"] {
    background-color: #ebc474;
}

select option[value="aceptada"] {
    background-color: #86e49d;
}

footer {
    /* Estilos para el pie de página */
    background-color: #6e569f;
    /* Estilos para el texto del pie de página */
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
