@font-face {
    font-family: 'league spartan';
    src: url('/fuentes/League_Spartan/static/LeagueSpartan-Regular.ttf');
    font-weight: bold;
    font-style: bold;
}

*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: azure;
    padding: auto;
}

.nav-main-home{
    position: relative;
}

ul li a {
    font-family: 'league spartan';
}

#MainNavBar{
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#MainNavBar ul{
    margin: 0px;
}

#MainNavBar .logo{
    float: left;
}

#MainNavBar li {
    float: left;
    margin: 2%;
    margin-bottom: -2%;
}


#MainNavBar li a{
    display: block;
    padding: 10px;
}

h1{
    margin: 5px;
}

#logoNav{
    width: 75px;
    height: 75px;
    margin: 0px;
    
}

#registro{
    text-decoration: underline;
    border-left: 1px solid black;
    margin-right: 0px;
    margin-left: 300px;
    padding: 10px;
}

#ingreso {
    padding: 10px;
    color: white;
    background-color: #6e569f;
    border-radius: 6%;
}

#ShowcaseMain{
    background: url('../imagenes/FRAMES/FRAME A/Frame A1 - Bienvenidos.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100%;
}

#ShowcaseServicios{
    background: url('../imagenes/FRAMES/FRAME B/Frame B1 - Servicios.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100%;
}

#ShowcaseQuienes{
    background: url('../imagenes/FRAMES/FRAME C/Frame C1 - Somos.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100%;
}

.container{
    margin: auto;
    padding: auto;
    max-width: 100%;
    overflow: overlay;
}

a.btn-main{
    position: absolute;
    left: 70%;
    top: 88%;
    font-family: 'league spartan';
    text-decoration: none;
    background-color: #54e9f4;
    padding: 10px 40px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px black;
}

a.btn-main:hover{
    background-color: #f7a724;
}

.modulo-box{
    float: left;
    margin: 4%;
    width: 258px;
    height: 294px;
}

.iconosModulos{
    position: absolute;
    top: 150%;
    width: 258px;
    height: 294px;
    
}
#cuidado{
    background-color: #54e9f4;
    border-radius: 10%;
}

#donaciones{
    background-color: #6e569f;
    border-radius: 10%;
}

#rescates{
    background-color: #f7a724;
    border-radius: 10%;
}

#tienda{
    background-color: #9fcb40;
    border-radius: 10%;
}