body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-header {
    display: flexbox;
}

/* Estilos para el encabezado */
header {
    background-color: #ffffff;
    color: #6e569f;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #6e569f;
    text-decoration: none;
}

button {
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    padding: 10px 20px;
    background-color: #6e569f;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* Estilos específicos para la sección de botn de busca */

h2 {
    margin: 20px;
    color: #6e569f;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

/* Estilos para el formulario de adopción */
.formulario-adopcion {
    text-align: center;
    padding-top: 10px;
}

form {
    max-width: 400px;
    /* Para que el formulario se centre */
    margin: auto;
    padding: 20px;
    /* Estilos para el formulario */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.form-group {
    /* Estilos para los grupos de elementos del formulario */
    margin-bottom: 5px;
    /* Para que los elementos del formulario se centren */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    /* Para que el texto se centre */
    text-align: center;
    color: #6e569f;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #6e569f;
    /* Para que el texto se centre */
    text-align: center;
    color: #6e569f;
    outline: none;
}

button {
    background-color: #6e569f;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #5a4d86; /* Cambiar el color al pasar el ratón */
}

footer {
    /* Estilos para el pie de página */
    background-color: #6e569f;
    margin-top: 15px;
    /* Estilos para el texto del pie de página */
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
